{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
	<div class="card-deck">
		 <div class="card">
		 	<a href="#"><img class="card-img-top" src="{% static 'folder.png' %}"></a>
		    <div class="card-body">
		      	<h5 class="card-title">2018</h5>
		    </div>
		 </div>
		  	<div class="card">
			    <a href="#"><img class="card-img-top" src="{% static 'folder.png' %}"></a>
		    <div class="card-body">
		      	<h5 class="card-title">2017</h5>
		    </div>
		  	</div>
		  <div class="card">
		    <a href="#"><img class="card-img-top" src="{% static 'folder.png' %}"></a>
		    <div class="card-body">
		      	<h5 class="card-title">2016</h5>
		    </div>
		  </div>
	</div>
{% endblock %} 