{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div><p><a class="btn btn-primary" href="{% url 'list' path=back %}" role="button">Back</a></p></div>
{% for row in list %}
<p>
<div class="card-deck">
	
	{% for e in row %}
		{% if e.type == "fold" %}
			<div class="card">
				<a href="{% url 'list' path=rp|add:'\\'|add:e.name %}"><img class="card-img-top" src="{% static 'folder.png' %}"></a>
			    <div class="card-body">
			      	<h5 class="card-title">{{ e.name }}</h5>
			    </div>
			</div>
		{% else %}
			<div class="card">
				<a href="{% url 'image' path=rp|add:'\\'|add:e.name %}" target="_blank"><img class="card-img-top" src="{% url 'thumb' path=rp|add:'\\'|add:e.name %}"></a>
		    	<div class="card-body">
		      		<h5 class="card-title">{{ e.name }}</h5>
		    	</div>
			</div>
		{% endif %}
					
	{% endfor %}
</div>
</p>
{% endfor %}
<div><p><a class="btn btn-primary" href="{% url 'list' path=back %}" role="button">Back</a></p></div>
{% endblock %} 